<h2>Welcome to the TechBlog</h2>
<div>
<a href="url">Homepage</a> &nbsp &nbsp &nbsp &nbsp
<a href="url">SignUp</a> &nbsp &nbsp &nbsp &nbsp
<a href="url">SignIn</a>
</div>
 <h2>Creat a Post:</h2>
<br>

<textarea id="freeform" name="freeform" rows="4" cols="50">
Write post here...
</textarea>