/* unvisited link */
a:link {
  color: blue;
}
/* mouse over link */
a:hover {
  color: red;
}
div {
  padding: 40px;

  font-size: larger;

  height: 50px;

  background: orange;

  border: 5px dashed purple;
}
